#main {
  display: flex;
  padding: 32px;
}
.maha-logo {
  width: 90px;
}
.padded-card {
  padding: 32px;
}
.hidden-form-control {
    display: none !important;
}
div.MuiFormControl-root {
    margin-bottom: 1rem;
    width: 100%;
}
.MuiSlider-markLabel {
    font-size: 0.7rem !important;
}
.MuiSlider-valueLabel span {
    border-radius: 0 !important;
    transform: none !important;
    width: 100%;
    height: 100%;
    padding: 3px;
    text-align: center;
}
#grid-root {
  width: 100%;
}
.in-line-container {
    flex-wrap: nowrap !important;
    padding-top: 20px;
    padding-bottom: 20px;
}
.in-line-container .MuiIconButton-root {
    width: 30px;
    height: 30px;
}
.in-line-container .in-line-first {
    margin-right: 15px;
}
.in-line-container .in-line-last {
    margin-left: 15px;
}
.layer-card {
    position: relative;
    margin: 0;
    padding-bottom: 0;
    /* z-index: 2000; */
}
.layer-card .layer-card-header {
    height: 54px;
    padding: 2px 0;
    font-size: 14px;
}
.layer-card .layer-card-title {
    width: 260px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    line-height: 17px;
}
.layer-card .layer-card-subheader {
    width: 195px;
    line-height: 17px;
    font-size: 14px;
}
.layer-card .layer-card-content {
    font-size: 14px;
    padding: 0;
}
.layer-card-toolbar .MuiToolbar-root {
    padding-left: 0;
}
.chart-title {
    width:100%;
    text-align: center;
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5em;
}
.leaflet-tooltip-left::before, .leaflet-tooltip-right::before {
    display: none;
}
.refresh-legend-button {
    border-radius: 0 !important;
    font-size: 0.9rem !important;
    padding: 7px !important;
    margin-top: 1rem !important;
    border: 1px solid rgba(0,0,0,0.34) !important;
}
.no-top-margin {
    margin-top: 0!important;
}
.MuiToggleButton-root.toggle-button-small {
    padding: 2px 5px;
}
.boxed {
    border: 1px solid lightgray;
    border-radius: 3px;
}

@media(max-width: 1250px) {
    .xs-hidden {
        display: none;
    }
}
